<nav class="navbar">
  <img class="logo" src="/assets/icons/epic_games.png" alt="Logo" />

  <ul class="nav_list">
    <li class="nav_item">
      <a
        class="nav-list--link"
        routerLink="/home"
        routerLinkActive="router-link-active"
        >Home</a
      >
    </li>
    <li class="nav_item">
      <a
        class="nav-list--link"
        routerLink="/about"
        routerLinkActive="router-link-active"
        >About us</a
      >
    </li>
    <li class="nav_item">
      <a
        class="nav-list--link"
        routerLink="/portfolio"
        routerLinkActive="router-link-active"
        >Portfolio</a
      >
    </li>
    <li class="nav_item">
      <a
        class="nav-list--link"
        routerLink="/news"
        routerLinkActive="router-link-active"
        >News</a
      >
    </li>
    <li class="nav_item">
      <a
        class="nav-list--link"
        routerLink="/contacts"
        routerLinkActive="router-link-active"
        >Contact us</a
      >
    </li>
  </ul>
</nav>
