<section
  class="home-page"
  (mousemove)="onMouseMove($event)"
  (mouseleave)="onMouseLeave()"
>
  <div class="info">
    <h1 class="info-title">Work that we produce for our clients</h1>
    <p class="info-description">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard.
    </p>
    <button class="info-action">Get more details</button>
  </div>
  <img
    class="home-banner"
    src="/assets/image/main_gamepad.png"
    alt="GamePad"
    #layer1
  />
</section>
<div>
  "Hello World" Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor,
  neque eveniet. Exercitationem, quia. Quas, quia! Magni explicabo dolorum,
  neque omnis sunt aspernatur facilis ex harum! Quae odio alias consequuntur
  incidunt.
</div>
