<nav class="sidebar">
  <a
    class="button"
    routerLink="/steam"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    <img src="/assets/icons/steam.png" alt="steam" />
  </a>

  <a
    class="button"
    routerLink="/home"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    <img src="/assets/icons/home_page.png" alt="steam" />
  </a>

  <a
    class="button"
    routerLink="/market"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    <img src="/assets/icons/market.png" alt="steam" />
  </a>

  <a
    class="button"
    routerLink="/games"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    <img src="/assets/icons/games.png" alt="steam" />
  </a>

  <a
    class="button"
    routerLink="/movies"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    <img src="/assets/icons/movie.png" alt="steam" />
  </a>

  <a
    class="button"
    routerLink="/browse_podcasts"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    <img src="/assets/icons/browse_podcasts.png" alt="steam" />
  </a>
  <a
    class="button"
    routerLink="/profile"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    <img src="/assets/icons/profile.png" alt="steam" />
  </a>
  <a
    class="button"
    routerLink="/cloud"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    <img src="/assets/icons/cloud.png" alt="steam" />
  </a>
  <a
    class="button"
    routerLink="/settings"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    <img src="/assets/icons/settings.png" alt="steam" />
  </a>
</nav>
